<app-nav-bar [numberOfProductsFromCar]="numberOfProducts" [eliminateProduct]="eliminateProduct"></app-nav-bar>
<div class="container">
    <div class="row align-items-start">
        <div class="col">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody *ngFor="let bike of bikesInCar; index as i">
                    <tr>
                        <th scope="row">{{i + 1}}</th>
                        <td>{{bike.name}}</td>
                        <td>{{bike.amount}}</td>
                        <td>{{bike.precio | currency}}</td>
                        <td><button (click)="deleteProductOfCarTable(bike,i)">Eliminar</button></td>
                    </tr>
                    <br>
                    

                </tbody>
                <p>Total: {{totalPrice | currency}} </p>
                <button class="btn btn-primary" routerLink="">Seguir comprando</button>
            </table>



        </div>
        <div class="col" style="margin-top: 20px;">
            <div class="container">
                <form id="idFormCreate" autocomplete="on" [formGroup]="formulario">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Tipo de documento"
                            formControlName="idType">
                        <div *ngIf="formulario.get('idType')?.hasError('required') && formulario.pristine === false">El
                            tipo de
                            documento es requerido</div>
                        <label for="floatingInput">Tipo de documento</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingPassword" placeholder="Número de documento"
                            formControlName="idClient">
                        <div *ngIf="formulario.get('idClient')?.hasError('required') && formulario.pristine === false">
                            El documento
                            es requerido</div>
                        <label for="floatingPassword">Documento</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingPassword1" placeholder="Nombre"
                            formControlName="nameClient">
                        <div
                            *ngIf="formulario.get('nameClient')?.hasError('required') && formulario.pristine === false">
                            El nombre
                            es requerido</div>
                        <label for="floatingPassword1">Nombre</label>
                    </div>

                    <button type="submit" form="idFormCreate" class="btn btn-primary" (click)="createPurchase()" 
                        [disabled]="formulario.invalid" style="margin-top: 10px;">Comprar</button>
                </form>
            </div>
        </div>
    </div>
</div>