<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="https://cdn.pixabay.com/photo/2015/10/31/12/01/bike-1015321_960_720.jpg" alt="logo" width="150px">
        </a>
        <h1 class="h1">Tienda de bicicletas</h1>
        <button type="button" class="btn position-relative" routerLink="/car">
            <img src="https://cdn.pixabay.com/photo/2014/04/02/10/53/shopping-cart-304843_1280.png" alt="500px" width="50px">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{numberOfProductAux+1}}
              <span class="visually-hidden">unread messages</span>
            </span>
          </button>
    </div>
</nav>
<hr>